.container {
	font-size: 11px;
}

.carousel-image {
	margin-left: auto;
	margin-right: auto;"
}

.top-navbar {
	background-color: #f0f0e9;
}

.top-navbar a {
	font-size: 14px;
	font-family: 'Gill Sans';
	color: #696763;
}

.top-navbar a:hover {
	color: #888;
	text-decoration: none;
}

.title-left, .title-right {
	font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    float: left;
}

.title-left {
	color: #fea329;
}

.title-right {
	color: #ccc;
}

.mid-navbar {
	margin-top: -20px;
	border-bottom: 1px solid #eee;
	padding: 15px;
	text-align: right;
	min-height: 70px;
}

.mid-navbar a {
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
	color: #696763;
}

.mid-navbar a:hover {
	color: #fea329;
	text-decoration: none;
}

.bottom-navbar {
	margin-top: -20px;
	border: 0px solid #eee;
	padding: 15px;
	text-align: left;
}

.bottom-navbar a {
	font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
	color: #696763;
}

.bottom-navbar a:hover {
	color: #fea329;
	text-decoration: none;
}

.footer-top {
	min-height: 300px;
	background-color: #f0f0e9;
	margin-bottom: 0px;
}

.footer-bottom {
	background-color: #d6d6d0;
	margin-bottom: 0px;
}

.footer-bottom a {
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
	color: #696763;
}

.footer-bottom a:hover {
	color: #fea329;
	text-decoration: none;
}

.modal {
	top: 120px;
}
